#bemvindo {
    text-align: center;
}

#menu {
    box-sizing: border-box;
}

ul.parent > li{
    float: left;
    width : 20%;
    text-align: center;
}
 ul.child{
     box-sizing: border-box;
     display: block;
     
 }