
*{
    font-family: Arial, Helvetica, sans-serif;
}

.voltar {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin: -580px 0px 0px 1090px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  background-image: url(img/voltar.png);
  background-position: 0px 0px;
  background-size: 50px 23px;
}

#titulo{
    position: absolute;
    top: 300px;
    margin-left:20%;
    padding-left: 276px;
    text-align: center;
    color: white;
}

#escolha{
    position: absolute;
    top: 300px;
    margin-left:20%;
    padding-left: 294px;
    text-align: center;
    color: white;
}

.fundo{
    background-color:deepskyblue;
    width: 800px;
    height: 600px;
    margin-left: 20%;
    border: 0px none transparent;
}
/*gambs XDDD*/
#hub>h2{
    position:absolute;
    top: 5px;
    color: white;
    margin-left: 0%!important;
}
.menu-item{
    position:absolute;
    top: 5px;
    color: white;
    margin-left: 20%!important;
    
    
}



.menu{
    position: relative;
    background-color: coral;
    border: 0px none black;
    width: 800px;
    height: 60px;
}


.escola_btn {
  position: absolute;
  margin-top: 190px;
  margin-left: 80px;
  display: block;
  overflow: visible;
  width: 150px;
  height: 96px;
  background-image: url(img/escola.png);
  background-size: 150px 96px;
  background-repeat: no-repeat;
}
.memorial_btn {
  position: absolute;
  margin-top: 90px;
  margin-left: 380px;
  display: block;
  overflow: visible;
  width: 63px;
  height: 150px;
  background-image: url(img/memorial.png);
  background-size:63px 150px;
  background-repeat: no-repeat;
}

.teatro_btn {
  position: absolute;
  margin-top: 270px;
  margin-left: 580px;
  display: block;
  overflow: visible;
  width: 150px;
  height: 96px;
  background-image: url(img/teatro.png);
  background-size: 150px 96px;
  background-repeat: no-repeat;
}

.btn-radio {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 200px;
  margin-top: -380px;
  margin-left: 570px;
  background-image: url(img/porta.png);
  background-position: 0px 0px;
  background-size: 120px 200px;
  background-repeat: no-repeat;
}

.btn-radio:hover {
  box-shadow: 0 0 6px 0 #fff;
}

.btn-tv {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 200px;
  margin-top: -380px;
  margin-left: 870px;
  background-image: url(img/porta.png);
  background-position: 0px 0px;
  background-size: 120px 200px;
}

.btn-tv:hover {
  box-shadow: 0 0 6px 0 #fff;
}

p{
    position: absolute;
    margin-left: 22%;
    margin-right: 20%;
    top: 480px;
    color: white;
}

#prox{
    position: absolute;
    margin-right: 20.1%;
    right: 15px;
    top: 570px;
}